# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#repo specific ignores
tests/tm000_2016.02.07_AMsegment.xlsm
tests/tm000_2016.02.07-2016.02.08.xlsm
tests/tm000_2016.02.10-2016.02.12.xlsm
tests/tm000.20160210-20160212_20220819.192044.txt
tests/tm000.20160207_AMsegment.txt
tests/tm000.20160207-20160208_20220622.194545.txt
tests/casas_example_entity.txt
tests/casas_example_entitytemp.txt
tests/casas_example_everything.txt
tests/outofhome_examples.txt
*.ipynb
casas_measures/tm015_all_inactivityseq.csv
casas_measures/tm000.20160207_20160207_inactivityseq2.csv
casas_measures/tm000.20160207_20160207_inactivityseq3.csv
*.pkl
casas_measures/cil_data_params.json
casas_measures/cil_data_params.yml
casas_measures/casas_measures.py.lprof
casas_measures/pickle_all_ignored_20230314.txt
casas_measures/summarize_all_inactivity_sensors_ignored.txt
casas_measures/summarize_all_inactivity_sensors_ignored_combined.txt
casas_measures/summarize_all_particpants_raw_data.txt
casas_measures/cil_data_params_20230314.yml
analysis/pickle_all_ignored_20230314.txt
analysis/summarize_all_inactivity_sensors_ignored.txt
analysis/summarize_all_inactivity_sensors_ignored_combined.txt
analysis/summarize_all_particpants_raw_data.txt
analysis/tm000.20160207_20160207_inactivityseq2.csv
analysis/tm000.20160207_20160207_inactivityseq3.csv
casas_measures/tm000.20160207_20160207_bedroomcombined.csv
tests/tm000.20211107-20211108_20230321.225843_utc.txt
tests/tm000.20211107-20211108_20230321.230212_local.txt
tests/tm000.20211107-20211108_20230321.230407.txt
*.png
casas_measures/test_upsampled.csv
analysis/pickle_dfs_output_20230427.txt
analysis/pickled_dfs_output_newcutoffs_20230508.txt
*.csv
analysis/ONsensorsonly_and_inact_dfs.out
analysis/plots
cil_data_params_strict.yml
cil_data_params_strict_2023_06_15.yml
analysis/tm015_and_tm017_bfit.zip
analysis/tm015_baseline
analysis/tm015_intervention
analysis/tm017_baseline
analysis/tm017_intervention
analysis/tm018_baseline
analysis/tm018_intervention
analysis/tm018_bfit_bcd2.zip
analysis/fr02_timeints_above4m_sum.xlsx
analysis/pickle_dfs_roomtrans_ignored_4rooms_20230801.txt
analysis/pickle_dfs_roomtrans_ignored_sensonly_20230731.txt
analysis/summarize_roomtran_counts_20230802.out
analysis/tm018_bfit_bcd/tm018_bfit_baseline_windows.txt
analysis/tm018_bfit_bcd/tm018_bfit_session_windows.txt
